h1{
    font-family: 'Cookie', cursive;
    text-align: center;
    font-size: 100px;
    //text-shadow: 2px 2px 2px #aaa;
}

.logo{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-image: url(background.jpg);
}

p{
    color: mediumaquamarine;
	font-size: 150%;
	text-align: center;
}

.form,input
{
    font-size: 120%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    display: inline-block;
}

.form,input:hover {
  cursor: pointer;
}

div{
	text-align: center;
	margin-left: 110px;
}

.submit{
    margin-top: 5%;
}

#foodItems{
	font-family: "Cookie", capitalize;
}
